SetEnvIf Origin "http(s)?://(.+\.)?(hnldesign\.nl)(:\d{1,5})?$" CORS=$0
Header set Access-Control-Allow-Origin "%{CORS}e" env=CORS
Header merge  Vary "Origin"
# multiple: (hnldesign\.nl|foo\.bar)

<IfModule mod_mime.c>
  AddType text/javascript js mjs
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
# if a min version is available then load it
# Redirect to a minified version, if available
RewriteCond %{REQUEST_FILENAME} (.*)\.(js|mjs)$
# Don't redirect to minified if debug flag is true
RewriteCond %{QUERY_STRING} !(^|&)debug=true(&|$)
RewriteCond %1.min.%2 -f
RewriteRule (.*)\.(js|mjs)$ $1.min.$2 [L]
</IfModule>

# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<FilesMatch "\.(css|htm|html|js|mjs|txt)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>